@import "tailwindcss";

body {
  background-color: #e5e7eb;
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  
  body {
    background-color: white !important;
  }
  #export-pdf-area {
    box-shadow: none !important;
    max-width: 100% !important;
    background-color: white !important;
    padding-bottom: 0 !important;
    min-height: auto !important;
  }
  .pb-32 {
    padding-bottom: 0 !important;
  }
  /* Hide Bottom Nav on Print */
  nav, .fixed.bottom-0 {
    display: none !important;
  }
}
